.navbar {
    display: flex;
    margin: 0px 50px 0px 50px;
}

.navbar .navbar-brand {
    color: #000;
    font-weight: bolder;
    font-size: 16px;
    line-height: 1.2;
}

.navbar .navbar-brand:hover {
    color: #000;
}

.navbar .navbar-nav .nav-item {
    color: #FF473A;
    font-weight: bolder;
    font-size: 20px;
}

.navbar .navbar-nav {
    margin-right: auto;
    margin-left: auto;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #070629;
}

.line {
	width: 30px;
	height: 3px;
	margin: 5px 0;
	background: #070629;
}