* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #fcfcfc;
    font-family: 'Montserrat', sans-serif;
}

.watch img {
    width: 90vw;
    margin-top: 7%;
    height: 80vh;
}

@media (max-width: 900px) {
    .watch img {
        margin-top: 13%;
        height: 70vh;
    }
}

@media (max-width: 650px) {
    .watch img {
        margin-top: 17%;
    }
}

.pricing .control p {
    margin: 5px;
}

.pricing .control .arith-sign {
    border: 1px solid grey;
    height: 5vh;
}

.submit {
    background: #FF473A;
    width:60%;
    margin: auto;
    color :#fff ;
    padding: 13px;
    outline :none ;
    border: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}