* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.fa-arrow-up {
    margin-right: 4px;
    font-size: 18px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #04c2c9; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    /* border-radius: 10px; /* Rounded corners */
    transition: all 1s ease-in-out;
}

#myBtn:hover {
    background-color: #41415A; /* Add a dark-grey background on hover */
    transform: rotate(45deg);
}

#myBtn:hover .fa-arrow-up {
    transform: rotate(-45deg);
}

@media only screen and (max-width: 800px) {
    .hamburger {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 60px;
        background: rgb(19, 36, 65);
        position: sticky !important;
        border-bottom: 2px solid #04c2c9;
    }
}

.ham {
    display: none;
    position: fixed;
    top: 0.3rem;
    right: 0.7rem;
    width: 3rem;
    height: 2.9rem;
    border: 1px solid #414141;
    background: white;
    cursor: pointer;
    z-index: 1000 !important;
}

.xIcon {
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgb(19, 36, 65);
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}

.ham li {
    padding: 1.5rem 0;
}

.menu li {

    display: flex;
    justify-content: center;
}

.menuLink {
    display: inline;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.menuLink:hover {
    text-decoration: underline;
}

.fa-bars .fa-times {
    margin-right: 10px;
    font-size: 22px !important;
}

header {
    position: relative;
}


nav {
    width: 100%;
    position: sticky;
    top: 0;
    background: rgb(19, 36, 65);
    padding: 24px;
    border-bottom: 3px solid #04c2c9;
}

@media screen and (max-width: 800px){
    .ham {
        display: block;
    }
    nav {
        display: none ;
    }
    .hero h2 {
        margin-top: 5rem;
    }
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin-right: 26px;
}

nav ul li a {
    text-transform: uppercase;
    font-size: 18px;
}


nav ul li a:hover {
    color: #cf1864;
}

.hero {
    background: #414141;
    padding-top: 7rem;
    height: 95vh;
    text-align: center;
}

.hero h2 {
    font-size: 2.3rem;
    margin-bottom: .7rem;
}

.hero h2 span {
    color: rgb(201, 16, 112);
}
.hero p {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    font-weight: lighter;
}

.hero button {
    padding: 14px 18px;
    font-size: 16px;
    background: #41415A;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    transition: all 0.6s ease-in-out;
}

.hero button:hover {
    background: #fff;
    color: #41415A;
}
.hero button:hover .fas {
    transform: rotate(90deg);
}

.fas {
    font-size: 12px;
    margin-left: 7px;
}

.about {
    color: #222;
    margin: 3rem 2.5rem;
}

.underline {
    width: 6rem;
    margin: auto;
    height: 3px;
    background: #41415A;
    transform: translateX(-30%);
    transition: all 0.5s ease-in-out;
}
h3:hover .underline {
    width:9.5rem;
    transform: translateX(0%);
    background: #04C2C9;
}
h3 {
    font-size: 2.5rem;
    text-align: center;
    color: #414141;
}
.about p {
    margin-top: 1rem;
}

.about ul {
    list-style: none;
    display: grid;
    margin-top: 12px;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: repeat(4, 1fr);
    margin-right: 1rem;
    width: 60%;
}
.about ul li:before {
    content: "▹";
    color: #222;
    padding-right: 0.5rem;
}
.about ul li .fab {
    font-size: 2.8rem;
    margin-top: 0.7rem;
}
.about ul li .fa-html5 {
    color: #E85527;
}
.about ul li .fa-css3-alt {
    color: #264de4;
}
.about ul li .fa-js {
    color: #F0DB4F;
}
.about ul li .fa-bootstrap {
    color: #7e3969;
}
.about ul li .fa-git {
    color: #F1502F;
}
.about ul li .fa-vuejs {
    color: #41b883;
}
.about ul li .fa-react {
    color: #61DBFB;
}

.about ul li .fa-github {
    color: #F4CBB2;
}

.project {
    margin-top: 5rem;
    height: 80vh;
}

footer {
    background: rgb(19, 36, 65);
    padding: 5rem 0 2rem;
    text-align: center;
    margin-top: 5rem;
}
footer .fab {
    font-size: 2.3rem;
    margin-bottom: 2rem;
}
footer a {
    background-color: #41415A;
    padding: 1.3rem 1rem;
}

footer a:not(:last-child){
    margin-right: 2rem;
}



/* contact page */
.contact {
    margin: 0 2.5rem;
    color: #41415A;
}

.contact p {
    text-align: center;
    margin-top: 1rem;
}


form {
    margin-top: 25px;
    max-width: 400px;
    width: 100%;
    background: #cecece;
    padding: 35px 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.34);
}

.form-image img {
    display: none;
}

@media screen and (min-width:675px) {
    .form-image {
        display: flex;
        justify-content: space-around;
    }
    .form-image img {
        display: block;
        margin-top: 4rem;
        width: 20rem;
    }
}

label {
    display: block;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    font-size: 1rem;
    outline: none;
}

.contact button {
    margin-left: auto;
    display: block;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 4px;

    font-size: 16px;
    background: #41415A;
    border: 1px solid #41415A;
    color: #fff;
}

.contact button:hover {
    background: #333361;
}

/* MOMENT AT TIIDELab */
.moment {
    margin-bottom: 3rem;
}
.mansory {
    margin-top: 1.5rem !important;
    max-width: 800px;
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(10px, auto);
}

.mansory div img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.a {
    grid-row: 3/3;
}

.b {
    grid-column: 1/3;
}

@media screen and (max-width: 500px) {
    .mansory {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax(20px, auto);
        grid-gap: .7rem;
    }
    .mansory div img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .a {
        grid-row: 1 / 3;
    }

    .b {
        grid-column: 2 / 3;
    }
    .f{
        grid-column:  1/3;
    }
}
