* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.fa-arrow-up {
    margin-right: 4px;
    font-size: 18px;
}


  .header {
    position: fixed;
    width: 100%;
    z-index: 10000;
    background: rgb(19, 36, 65);
    border-bottom: 3px solid #04c2c9;
    
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    display: block;
    text-decoration: none;
    padding: 15px 20px;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
    color: red;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 1.7rem;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: rgb(201, 16, 112);;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: rgb(201, 16, 112);;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 767px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

  main {
      position: relative;
  }
  #myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    background-color: #04c2c9;
    color: white;
    cursor: pointer;
    padding: 15px;
    transition: all 1s ease-in-out;
}

#myBtn:hover {
    background-color: #41415A; /* Add a dark-grey background on hover */
    transform: rotate(45deg);
}

#myBtn:hover .fa-arrow-up {
    transform: rotate(-45deg);
}

.hero {
    background: #414141;
    padding-top: 11rem;
    height: calc(100vh - 60px);
    text-align: center;
}

.hero h2 {
    font-size: 2.3rem;
    margin-bottom: .7rem;
}

.hero h2 span {
    color: rgb(201, 16, 112);
}
.hero p {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    font-weight: lighter;
}

#describe {
    margin-bottom: 2.5rem;
}

/* TYPING & DELETING EFFECT */
.typewriter {
    font-family: Courier, monospace;
	display: block;
    margin-bottom: 2.5rem;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}


.hero a {
    padding: 12px 14px;
    font-size: 16px;
    background: #41415A;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    transition: all 0.6s ease-in-out;
    box-shadow: 4px 4px 0px 0px rgba(250, 250, 250, 0.34);
}

.hero a:hover {
    background: #fff;
    color: #41415A;
    box-shadow: 4px 4px 0px 0px rgba(250, 250, 250, 0.34);
}
.hero a:hover .fas {
    transform: rotate(90deg);
}
@media screen and (max-width: 800px){
    .ham {
        display: block;
    }
    nav {
        display: none ;
    }
    .hero h2 {
        margin-top: 3.5rem;
    }
}
.fas {
    font-size: 12px;
    margin-left: 7px;
}

.about {
    color: #222;
    margin: 3rem 2.5rem;
}

.underline {
    width: 6rem;
    margin: auto;
    height: 3px;
    background: #41415A;
    transform: translateX(-30%);
    transition: all 0.5s ease-in-out;
}
h3:hover .underline {
    width:9.5rem;
    transform: translateX(0%);
    background: #04C2C9;
}
h3 {
    font-size: 2.5rem;
    text-align: center;
    color: #414141;
}
.about p {
    margin-top: 1rem;
}

.about ul {
    list-style: none;
    display: grid;
    margin-top: 12px;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: repeat(4, 1fr);
    margin-right: 1rem;
    width: 60%;
}
.about ul li:before {
    content: "▹";
    color: #222;
    padding-right: 0.5rem;
}
.about ul li .fab {
    font-size: 2.8rem;
    margin-top: 0.7rem;
}
.about ul li .fa-html5 {
    color: #E85527;
}
.about ul li .fa-css3-alt {
    color: #264de4;
}
.about ul li .fa-js {
    color: #F0DB4F;
}
.about ul li .fa-bootstrap {
    color: #7e3969;
}
.about ul li .fa-git {
    color: #F1502F;
}
.about ul li .fa-vuejs {
    color: #41b883;
}
.about ul li .fa-react {
    color: #61DBFB;
}

.about ul li .fa-github {
    color: #F4CBB2;
}

.project {
    margin-top: 5rem;
    height: 80vh;
}

footer {
    background: rgb(19, 36, 65);
    padding: 5rem 0 2rem;
    text-align: center;
    margin-top: 5rem;
}
footer .fab {
    font-size: 2.3rem;
    margin-bottom: 2rem;
}
footer a {
    background-color: #41415A;
    padding: 1.3rem 1rem;
}

footer a:not(:last-child){
    margin-right: 2rem;
}

/* contact page */
.contact {
    margin: 0 2.5rem;
    color: #41415A;
}

.contact p {
    text-align: center;
    margin-top: 1rem;
}


form {
    margin-top: 25px;
    max-width: 400px;
    width: 100%;
    background: #cecece;
    padding: 35px 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.34);
}

.form-image img {
    display: none;
}

@media screen and (min-width:675px) {
    .form-image {
        display: flex;
        justify-content: space-around;
    }
    .form-image img {
        display: block;
        margin-top: 4rem;
        width: 20rem;
    }
}

label {
    display: block;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    font-size: 1rem;
    outline: none;
}

.contact button {
    margin-left: auto;
    display: block;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 4px;

    font-size: 16px;
    background: #41415A;
    border: 1px solid #41415A;
    color: #fff;
}

.contact button:hover {
    background: #333361;
}

/* MOMENT AT TIIDELab */
.moment {
    margin-bottom: 3rem;
}
.mansory {
    margin-top: 1.5rem !important;
    max-width: 85%;
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(10px, auto);
}

.mansory div img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.a {
    grid-row: 3/3;
}

.b {
    grid-column: 1/3;
}

@media screen and (max-width: 500px) {
    .mansory {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax(20px, auto);
        grid-gap: .7rem;
    }
    .mansory div img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .a {
        grid-row: 1 / 3;
    }

    .b {
        grid-column: 2 / 3;
    }
    .f{
        grid-column:  1/3;
    }
}
