* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    position: relative;
}


nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    /* display: inline-flex;
    justify-content: space-between; */
    background: rgb(19, 36, 65);
    padding: 24px;
    border-bottom: 3px solid #04c2c9;
}

nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin-right: 26px;
}

nav ul li a {
    text-transform: uppercase;
    font-size: 18px;
}


nav ul li a:hover {
    color: #cf1864;
}

.hero {
    background: #414141;
    padding-top: 7rem;
    height: 95vh;
    text-align: center;
}

.hero h2 {
    font-size: 2.3rem;
    margin-bottom: .7rem;
}

.hero h2 span {
    color: rgb(201, 16, 112);
}
.hero p {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    font-weight: lighter;
}

.hero button {
    padding: 10px 16px;
    font-size: 16px;
    background: #41415A;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

.hero button:hover {
    /* padding: 12px;
    transform: translateY(10%); */
    background: #fff;
    color: #41415A;
}
.hero button:hover .fas {
    transform: rotate(90deg);
}

.fas {
    font-size: 12px;
    margin-left: 7px;
}

.about {
    color: #222;
    margin: 3rem 2.5rem;
}

.underline {
    width: 6rem;
    margin: auto;
    height: 3px;
    background: #41415A;
    transform: translateX(-30%);
}
h3:hover .underline {
    width:9.5rem;

    transform: translateX(0%);
    background: #04C2C9;
}
h3 {
    font-size: 2.5rem;
    text-align: center;
    color: #414141;
}
.about p {
    margin-top: 1rem;
}

.about ul {
    list-style: none;
    display: grid;
    margin-top: 12px;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: repeat(4, 1fr);
    margin-right: 1rem;
    width: 60%;
}
.about ul li:before {
    content: "▹";
    color: #222;
    padding-right: 0.5rem;
}
.about ul li .fab {
    font-size: 2.8rem;
    margin-top: 0.7rem;
}
.about ul li .fa-html5 {
    color: #E85527;
}
.about ul li .fa-css3-alt {
    color: #264de4;
}
.about ul li .fa-js {
    color: #F0DB4F;
}
.about ul li .fa-bootstrap {
    color: #7e3969;
}
.about ul li .fa-git {
    color: #F1502F;
}
.about ul li .fa-vuejs {
    color: #41b883;
}
.about ul li .fa-react {
    color: #61DBFB;
}

.about ul li .fa-github {
    color: #F4CBB2;
}

.project {
    margin-top: 5rem;
    height: 80vh;
}

footer {
    background: rgb(19, 36, 65);
    padding: 5rem 0 2rem;
    text-align: center;
    margin-top: 5rem;
}
footer .fab {
    font-size: 2.3rem;
    margin-bottom: 2rem;
}
footer a {
    background-color: #41415A;
    padding: 1.3rem 1rem;
}

footer a:not(:last-child){
    margin-right: 2rem;
}



/* contact page */

.contact {
    margin: 0 2.5rem;
}

.contact p {
    text-align: center;
    margin-top: 1rem;
    color: #41415A;
}
form {
    margin-top: 25px;
    max-width: 450px;
    color: #41415A;
    background: #cecece;
    padding: 35px 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.34);
}
@media screen and (max-width:575px) {
    
    form {
        margin: 25px auto;
        max-width: 95%;
    }
}
label {
    display: block;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    font-size: 1rem;
    outline: none;
}

.contact button {
    margin-left: auto;
    display: block;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 4px;

    font-size: 16px;
    background: #41415A;
    border: 1px solid #41415A;
    color: #fff;
}

.contact button:hover {
    background: #2a2a3b;
    
}